---
import courses from "../../courses.json";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;

const course = courses.find((course) => course.id === id);

console.log(course);
---

{
  course && (
    <Layout title={course.title}>
      <section
        transition:animate="slide"
        class="flex gap-7 justify-center items-center flex-wrap text-white px-8% py-20"
      >
        <img class="rounded-xl" src={course.imageUrl} alt="camiseta" />
        <div class="flex flex-col gap-4">
          <h2 class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">
            {course.title}
          </h2>
          <p class="max-w-md">{course.long_description}</p>
          <button class="w-20 h-7 border-gray-50 border-2 rounded-md flex justify-center items-center hover:bg-blue-900 transition">
            Buy
          </button>
        </div>
      </section>
    </Layout>
  )
}
